<%- model_class = Jobapplication -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:job_id) %></th>
    <th><%= model_class.human_attribute_name(:jobseeker_id) %></th>
    <th><%= model_class.human_attribute_name(:coverletter) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <% if(     ((cookies[:employerID]!="") && (!cookies[:employerID].is_a?NilClass))    ||
            ((cookies[:jobseekerID]!="") && (!cookies[:jobseekerID].is_a?NilClass))  ) %>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
        <% end %>
  </tr>
  </thead>
  <tbody>
  <% @jobapplications.each do |jobapplication| %>
      <tr>
        <td><%= Job.find(jobapplication.job_id).title %></td>
        <td><%= Jobseeker.find(jobapplication.jobseeker_id).name %></td>
        <td><%= jobapplication.coverletter %></td>
        <td><%= jobapplication.status %></td>
        <td><%= l jobapplication.created_at %></td>

          <% if((cookies[:employerID]!="") && (!cookies[:employerID].is_a?NilClass)) %>
            <td>
          <%= link_to t('.change status'), edit_jobapplication_path(jobapplication), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if((cookies[:jobseekerID]!="") && (!cookies[:jobseekerID].is_a?NilClass)) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_jobapplication_path(jobapplication), :class => 'btn btn-default btn-xs' %>
           </td>
          <% end %>
          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      jobapplication_path(jobapplication),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-xs btn-danger' %>

      </tr>
  <% end %>
  </tbody>
</table>

<%#link_to t('.new', :default => t("helpers.links.new")),
            new_jobapplication_path,
            :class => 'btn btn-primary' %>
