<%- model_class = Jobapplication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:job_id) %>:</strong></dt>
  <dd><%= @jobapplication.job_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jobseeker_id) %>:</strong></dt>
  <dd><%= @jobapplication.jobseeker_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:coverletter) %>:</strong></dt>
  <dd><%= @jobapplication.coverletter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @jobapplication.status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              jobapplications_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_jobapplication_path(@jobapplication), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              jobapplication_path(@jobapplication),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
